<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/webjars/ckeditor/31.0.0/classic/ckeditor.js}"></script>
    <script th:src="@{/webjars/ckeditor/31.0.0/classic/translations/ko.js}"></script>
    <script>
        window.onload = function() {
            ClassicEditor.create(document.querySelector('#editor'), {
                language: "ko",
            });
        };
    </script>
</head>
<body>
    <div class="container">
        <div class="py-5 d-flex justify-content-between">
            <a href="#" class="text-decoration-none text-dark fs-1 fw-bold">글쓰기</a>
            <div>
                <a th:href="@{/}" class="text-decoration-none text-dark fs-2">홈으로</a>
            </div>
        </div>

        <div class="py-5">
            <form action="" method="post">
                <div class="form-group">
                    <label for="author" class="form-label">작성자</label>
                    <input type="text" class="form-control" id="author" name="author" disabled>
                </div>
                <div class="py-5">
                    <div id="editor"></div>
                </div>
                <div class="d-flex justify-content-center py-5">
                    <button type="submit" class="btn btn-primary">올리기</button>
                </div>
            </form>
        </div>

        <footer class="py-5 my-5">
            Copyright &copy; 2023 <b>GF</b>. All Rights Reserved.
        </footer>
    </div>
</body>
</html>